<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blogify</title>
    <%- include('partials/head') %>
  </head>
  <body>
    <!-- navigation bar is here -->
    <%- include('partials/nav') %>

    <!-- blog content is here -->
    <%-include('partials/blogCard') %>
    <!-- footer section is here -->
    <%-include('partials/footer') %>
    <!-- this script -->
    <%-include('./partials/script') %>
  </body>
</html>
